<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbsf.modules.test.mapper.TestDemoMapper">
  <resultMap id="BaseResultMap" type="TestDemo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, name, code, create_time, modify_time
  </sql>
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.wbsf.modules.test.entity.TestDemo">
  	select <include refid="Base_Column_List"/> from t_test_demo 
  	where code like '${vo.code}%' and id &lt;=#{params.maxId} and id &gt;=#{params.minId}
  </select>

  <select id="countquery" resultType="long">
  	select count(*) from t_test_demo
  </select>
</mapper>