<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    
    <description>spring applicationContext Configuration</description>	
	
	<!-- 加载配置文件 继承PropertyPlaceholderConfigurer -->  
	<bean id="propertyConfigurer" class="com.wbsf.core.spring.utils.PropertyConfigurer">
	   <property name="ignoreUnresolvablePlaceholders" value="true"/>
	   <property name="ignoreResourceNotFound" value="true"/>
	   <property name="locations">
	       <list>
	          <value>classpath:config/init/jdbc.properties</value>
	          <value>classpath:config/init/sysConfig.properties</value>
	       </list>
	   </property>
	</bean>
	
	<!-- 在java对象种可通过  @Value("#{proSet['jdbc.username.main']}") 引用 -->
    <!-- <util:properties id="proSet" location="classpath:config/init/jdbc.properties,classpath:config/init/sysConfig.properties" local-override="true"/> -->

	<!-- 自动扫描service包,mybatis管理dao层实现-->
	<!-- 加载service,此时要排除要controller,因为controller已经spring-mvc中加载过了防止与spring mvc集成事物失效 -->
	<context:component-scan base-package="com.wbsf.core.service.*,com.wbsf.modules.*.service.impl,com.wbsf.*.modules.mapper" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 自定义组件扫描，若需要扩展添加需要扫描的组件包 -->
<!-- 	<context:component-scan base-package="com.wbsf.modules.component.*" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
	</context:component-scan> -->
	
	<!-- 用于监控spring是否初始化完成 -->
	<bean id="BeanDefineConfigue" class="com.wbsf.core.spring.BeanDefineConfigue" />  
	
	<!-- Spring 工具类 实现了ApplicationContextAware接口 -->
	<bean id="contextUtil" class="com.wbsf.core.spring.utils.ContextUtil" />
		<!-- 加载数据库相关配置 -->
	<import resource="spring-jdbc.xml"/>
</beans>